<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>eLearning Basics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label class="title">Description:</ion-label>
    <p class="content">A few interesting presentations on basic elearning topics. This is a collection of things you must know in order to succeed in the tech supported learning world!
    </p>
    <ion-button expand="full" (click)="openLocalPdf()">Open PDF</ion-button>
  </ion-content>