.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logo ion-img {
  max-height: 20vh;
  overflow: hidden;
}

.points ion-button{
  margin-right: 50px;
  --border-radius: 5px;
}

.log-out ion-icon{
  max-height: 20vh;
  margin-right: 20px;
}

/* .logo ion-buttons .points {
  margin-left: -100px;
} */