.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logo ion-img {
  max-height: 20vh;
  overflow: hidden;
  width: 76%;
}

ion-searchbar {
  --ion-background-color: #ffffff;
}

.dashboard .section1{
  margin-left: 5%;
  --width: 10%;
}
.dashboard .section1 ion-button .dash{
  margin-top: 5px;
}


.dashboard .section1 ion-button .dash_1{
  margin-top: 50px;
  margin-left: -15px;
  font-size: 14px;
}


.dashboard .section2{
  margin-left: 20%;
}

.dashboard .section3{
  margin-left: 20%;
}

.dashboard .section4{
  margin-left: 20%;
}

/* .logo ion-buttons .points {
  margin-left: -100px;
} */