<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="logo">
        <ion-button [routerLink]="['/home']"> 
          <ion-img src="/assets/logo/learning-management-system.png"></ion-img>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar value="Search My Courses" showCancelButton cancelButtonText="Cancel" debounce="500" animated>
  </ion-searchbar>
  <ion-grid class="dashboard">
    <ion-row>
      <ion-col>
        <ion-item [routerLink]="['/course']" class="activated">
          <ion-icon name="briefcase" slot="start"></ion-icon>
          <ion-label>7 Courses in Progress</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/course']" class="activated">
          <ion-icon name="school" slot="start"></ion-icon>
          <ion-label>0 Courses Completed</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item [routerLink]="['/course']" class="activated">
          <ion-icon name="clock" slot="start"></ion-icon>
          <ion-label>0h 0m Training Time</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item [routerLink]="['/course']" class="activated">
          <ion-icon name="trophy" slot="start"></ion-icon>
          <ion-label>0 badges</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="course">
    <ion-row>
      <ion-col>
        <ion-card class="course1" no-margin class="activated">
          <ion-img src="/assets/courses/course1.png"></ion-img>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-label>Introduction to TalentLMS</ion-label>
          </ion-item>
          <ion-progress-bar color="success" value="0.25"></ion-progress-bar>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="course2" no-margin class="activated">
          <ion-img src="/assets/courses/course1.png"></ion-img>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-label>Advance features of TalentLMS</ion-label>
            <ion-ripple-effect>testing</ion-ripple-effect>
          </ion-item>
          <ion-progress-bar color="success" value="0"></ion-progress-bar>
        </ion-card>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="course3" no-margin class="activated">
          <ion-img src="/assets/courses/course1.png"></ion-img>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-label>Content and TalentLMS</ion-label>
          </ion-item>
          <ion-progress-bar color="success" value="0"></ion-progress-bar>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="course4" no-margin class="activated">
          <ion-img src="/assets/courses/course1.png"></ion-img>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-label>eLearning Basics</ion-label>
          </ion-item>
          <ion-progress-bar color="success" value="0"></ion-progress-bar>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="progress">
      <ion-row>
        <ion-col>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-icon name="bookmark" slot="start"></ion-icon>
            <ion-label>Course Catalog</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item [routerLink]="['/progress']" class="activated">
            <ion-icon name="podium" slot="start"></ion-icon>
            <ion-label>Progress</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item [routerLink]="['/course']" class="activated">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Join Group</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item [routerLink]="['/discussion']" class="activated">
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label>Discussions</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
            <ion-item [routerLink]="['/calendar']" class="activated">
              <ion-icon name="calendar" slot="start"></ion-icon>
              <ion-label>Calendar</ion-label>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
