<header>
  <a href="#" class="logo"></a>

  <nav>
    <a href="#" id="menu-icon"></a>

    <button class="btn btn-success">Points</button>

    <ul>
      <div class="dropdown">
        <button class="dropbtn">Role 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <li class="list"><a href="#"> Instructor</a></li>
            <li class="list"><a href="#"> Student</a></li>
          </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Message 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <li class="list"><a href="#"> Send Message</a></li>
            <li class="list"><a href="#"> Inbox</a></li>
          </div>
      </div>

      <li><a href="#" class="help"> Help</a></li>
      <a href="#" class="logout"><i class="fa fa-sign-out"></i></a>
    </ul>

    
  </nav>
</header>