ion-content{
    --ion-background-color: #ffffff;
}

.title{
    color: #748073;
    font-size: 14px;
}

.content{
    font-size: 14px;
    line-height: 1.5;
}
.pdf{
    margin-top: 20px;
    width: 90vw;
    height: 60vh;
}