<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Discussion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>New Topic</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select formControlName="everybody" okText="Okay" cancelText="Dismiss">
      </ion-select>
    </ion-item>
    <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
  </form>
</ion-content>
