<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Advance features of TalentLMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label class="title">Description:</ion-label>
  <p class="content">This course comprises several video tutorials that describe the basic TalentLMS functions. 
      At the end there is a final test that will help you assess your knowledge.
  </p>
  <iframe class="pdf" src="/assets/ViewerJS/#../Exam.pdf" frameborder="0"></iframe>
</ion-content>
