<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="message" (ngSubmit)="sendMessage()">
      <ion-item>
        <ion-label position="stacked">To:</ion-label>
        <ion-input type="email" formControlName="to"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cc:</ion-label>
        <ion-input type="email" formControlName="cc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bcc:</ion-label>
        <ion-input type="email" formControlName="bcc"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Subject:</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Message:</ion-label>
        <ion-input type="text"  formControlName="message" block></ion-input>
      </ion-item>

      <button ion-button type="submit" color="primary" text-center block [disabled]="!message.valid">Send your message</button>
  </form>
</ion-content>
